In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('station_day.csv')
df.head()

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,26-08-2018,15.05,43.47,3.30,14.59,10.44,19.91,0.95,10.12,22.85,0.10,0.04,NaN,78,Satisfactory
1,AP001,27-08-2018,10.10,23.92,4.73,13.33,11.02,19.26,0.87,9.24,20.67,0.10,0.08,0.10,66,Satisfactory
2,AP001,28-08-2018,14.43,43.47,6.66,16.04,14.03,17.73,0.95,9.76,24.54,0.09,0.06,0.13,61,Satisfactory
3,AP001,29-08-2018,22.65,57.46,4.52,16.80,12.70,19.88,1.18,8.89,29.44,0.10,0.08,0.10,83,Satisfactory
4,AP001,30-08-2018,28.45,81.89,6.68,19.36,15.81,20.70,1.39,9.78,29.76,0.10,0.07,0.10,87,Satisfactory

In [6]:
df1 = pd.read_csv('stations.csv')
df1.head()

,StationId,StationName,City,State,Status
0,AP001,"Secretariat, Amaravati - APPCB",Amaravati,Andhra Pradesh,Active
1,AP002,"Anand Kala Kshetram, Rajamahendravaram - APPCB",Rajamahendravaram,Andhra Pradesh,NaN
2,AP003,"Tirumala, Tirupati - APPCB",Tirupati,Andhra Pradesh,NaN
3,AP004,"PWD Grounds, Vijayawada - APPCB",Vijayawada,Andhra Pradesh,NaN
4,AP005,"GVM Corporation, Visakhapatnam - APPCB",Visakhapatnam,Andhra Pradesh,Active

In [14]:
df3 = df1.merge(df,on='StationId',how='inner')

In [15]:
df3.head()

,StationId,StationName,City,State,Status,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,"Secretariat, Amaravati - APPCB",Amaravati,Andhra Pradesh,Active,26-08-2018,15.05,43.47,3.30,14.59,10.44,19.91,0.95,10.12,22.85,0.10,0.04,NaN,78,Satisfactory
1,AP001,"Secretariat, Amaravati - APPCB",Amaravati,Andhra Pradesh,Active,27-08-2018,10.10,23.92,4.73,13.33,11.02,19.26,0.87,9.24,20.67,0.10,0.08,0.10,66,Satisfactory
2,AP001,"Secretariat, Amaravati - APPCB",Amaravati,Andhra Pradesh,Active,28-08-2018,14.43,43.47,6.66,16.04,14.03,17.73,0.95,9.76,24.54,0.09,0.06,0.13,61,Satisfactory
3,AP001,"Secretariat, Amaravati - APPCB",Amaravati,Andhra Pradesh,Active,29-08-2018,22.65,57.46,4.52,16.80,12.70,19.88,1.18,8.89,29.44,0.10,0.08,0.10,83,Satisfactory
4,AP001,"Secretariat, Amaravati - APPCB",Amaravati,Andhra Pradesh,Active,30-08-2018,28.45,81.89,6.68,19.36,15.81,20.70,1.39,9.78,29.76,0.10,0.07,0.10,87,Satisfactory

In [16]:
df3.shape

(14863, 20)